<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpaceInvaders.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SpaceInvaders.Properties.Settings>
      <setting name="MissileControllerCost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MissileLimitBoost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MissileLimitInitial" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LivesInitial" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RespawnDelay" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ShieldCost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AlienWaveSizeInitial" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AlienFactoryCost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AlienFactoryWaveSizeBoost" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AlienShotCost" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="MapWidth" serializeAs="String">
        <value>19</value>
      </setting>
      <setting name="MapHeight" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="RoundLimit" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AlienWaveSizeBump" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AlienWaveSizeBumpRound" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="TurnDurationSeconds" serializeAs="String">
        <value>3</value>
      </setting>
    </SpaceInvaders.Properties.Settings>
  </applicationSettings>
</configuration>