<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChallengeHarness.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ChallengeHarness.Properties.Settings>
      <setting name="MoveFileName" serializeAs="String">
        <value>move.txt</value>
      </setting>
      <setting name="MoveTimeoutSeconds" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MatchLogFilename" serializeAs="String">
        <value>match.log</value>
      </setting>
      <setting name="MapFilename" serializeAs="String">
        <value>map.txt</value>
      </setting>
      <setting name="StateFilename" serializeAs="String">
        <value>state.json</value>
      </setting>
      <setting name="BotLogFilename" serializeAs="String">
        <value>bot.log</value>
      </setting>
      <setting name="ReplaysFolder" serializeAs="String">
        <value>Replays</value>
      </setting>
      <setting name="ReplayPlayerOneMoveFilename" serializeAs="String">
        <value>move1.txt</value>
      </setting>
      <setting name="ReplayPlayerTwoMoveFilename" serializeAs="String">
        <value>move2.txt</value>
      </setting>
      <setting name="MatchResultFilename" serializeAs="String">
        <value>matchinfo.json</value>
      </setting>
      <setting name="BotMetaDataFilename" serializeAs="String">
        <value>bot.json</value>
      </setting>
      <setting name="BotOutputFolder" serializeAs="String">
        <value>output</value>
      </setting>
      <setting name="BotRunFilename" serializeAs="String">
        <value>run.bat</value>
      </setting>
	  <setting name="BotRunFilenameLinux" serializeAs="String">
        <value>run.sh</value>
      </setting>
    </ChallengeHarness.Properties.Settings>
  </applicationSettings>
</configuration>